<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="footer-info">
            <div class="social-info">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="brand-info"> &#169; Wanderlust Private Limited</div>
            <div class="tc-info">
                <a href="#" class="privacy-info">Privacy</a>
                <a href="#" class="terms-info">Terms</a>
            </div>
        </div>
    </footer>
</body>
</html>